@import "~antd/dist/antd.css";

.demo {
  margin: 16px;
}
.demo-nav {
  height: 30px;
  margin-bottom: 16px;
  line-height: 30px;
  background: #f8f8f8;
}
.demo-nav a {
  padding: 0 8px;
  line-height: 30px;
}
.climate-list {
  margin-top: 16px;
}

.section-header {
  background: #f8f8f8;
}

.ant-divider-horizontal {
  margin: 0;
}

.ant-layout-content {
  padding: 16px 24px;
}

.result-section {
  padding: 30px;
  height: 200px;
}

.big-font {
  font-size: 2.3rem;
  font-weight: 800;
  padding-bottom: 0;
}

.place-font {
  margin-bottom: 0;
}

.ant-descriptions-row > td {
  padding-bottom: 0;
}

.site-page-header {
  padding-top: 50px;
}

.ant-table {
  background: inherit;
}

.search-button {
  margin-right: 20px;
}
